@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color-primary: #fffffff2;
  --font-color-secondary: #ffffffa6;
  --background-color: #222222;
  --font-letter-spacing: 0.06rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--font-color-primary);
  background: var(--background-color);
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

ul {
  list-style-type: none;

  li {
    text-indent: 5px;
  }

  li:before {
    content: "- ";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
