@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color-primary: #fffffff2;
  --font-color-secondary: #ffffffa6;
  --link-color-primary: #9bfd67;
  --background-color: #222222;
  --font-letter-spacing: 0.06rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* text-wrap: balance; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--font-color-primary);
  background: var(--background-color);
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

ul {
  list-style-type: none;

  li {
    text-indent: 5px;
  }

  li:before {
    content: "- ";
  }
}

a {
  color: var(--link-color-primary);
  text-decoration: underline 0.1em rgba(0,0,0,0);
  transition: text-decoration-color 300ms;
  text-underline-offset: 0.3em;
}

a:hover {
  text-decoration-color: var(--link-color-primary);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
